<div class='container'>
</br>
<% if @post.errors.any? %>
<div class='row'>
  <div class='alert alert-error span8' >
  <h5>Please fix the following errors: </h5>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    </div>
  </div>
<% end %>
  <div class='well'>
    <%= form_for @post do |f| %>
      <div class='control-group'>
        <%= f.label "Championship Winner:" %>
        <%= f.text_field :winner %>
      </div>
      <div class='control-group'>
        <strong><%= f.label "Four Teams to make Playoffs:" %></strong>
        <%= f.collection_check_boxes :team_ids, Team.order(:name),:id,:name do |cb| %>
          <% cb.label(class: "checkbox inline") {cb.check_box(class: "checkbox") + cb.text} %>
        <% end %>
      </div>
      <%= f.submit "Submit", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
