<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CFP Predictions</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
    <header>
      <div class="navbar navbar-inverse navbar-static-top">
        <div class="navbar-inner">
          <div class="container" id="main">
            <%= render 'layouts/navigation' %>

          </div>

        </div>

      </div>
    </header>
    <%= yield %>
    <!-- <div id="main" role="main"> -->
      
      <!-- <footer> -->
      <!-- </footer> --> <!--! end of .container -->
     <!-- </div> --><!--! end of #main -->
  </body>
</html>
